common*
common/*
*/*~
*/#*
*/*/*~
*/*/#*
*/*/*/*~
*/*/*/#*
*/*/*/*/*~
*/*/*/*/#*
*.exe
log/*
log*
log_old*
*.xlsx
*.csv
*.txt
!rx_summary.txt
*.root
*.log 
.*swp*
*.o
output*
output/*
dat
dat*
cfgmap/slow_control_configuration
dat_old
.nfs*
EMPTools/CMSSWCode
EMPTools/CMSSWCode/*
EMPTools/HLS_arbitrary_Precision_Types/*
mapping/*
mapping
data_v11_rx_MsCounter
