common*
common/*
*/*~
*/#*
*/*/*~
*/*/#*
*/*/*/*~
*/*/*/#*
*/*/*/*/*~
*/*/*/*/#*
*.exe
log/*
log*
log_old*
*.xlsx
*.csv
*.txt
*.root
*.log 
.*swp*
output*
output/*
dat
dat*
cfgmap/slow_control_configuration
dat_old

